@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

$primaryFont: 'Inter', "Roboto", Verdana, sans-serif;
$secondaryFont: 'Madimi', Verdana, sans-serif;
$primaryColor: #9f00ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: $primaryFont;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 12px 24px;

    #dev-logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: grey;
    }

    div {
        display: flex;
        align-items: center;
        gap: 24px;
        nav {
            ul {
                display: flex;
                gap: 16px;
                li {
                    cursor: pointer;
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-size: 1.2em;
                        color: black;

                        &:hover {
                            font-weight: bold;
                        }
                    }                    
                }
            }
        }

        button {
            height: 35px;
            width: 100px;
            border: none;
            border-radius: 8px;
            background-color: $primaryColor;
            font-size: 1em;
            color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

section {
    width: 100%;
    height: 100%;
}

.first_section { padding-top: 60px; }

button { cursor: pointer; }

@media screen and (max-width:768px) {
    #buttons__burger { display: block; }
    #contact_button { display: none; }
    .nav-open { width: 50%; }
    .nav-closed { width: 0; }

    header { box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; }

    nav {
        position: fixed;
        flex-direction: column;
        top: 60px;
        right: 0;
        background-color: white;
        padding: 10px 0px 50px 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: width 0.5s ease;

        ul {
            flex-direction: column;
        }
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    #buttons__burger { display: none; }
    #contact_button { display: block; }
}

@media screen and (min-width:992px) {
    #buttons__burger { display: none; }

    nav {
        height: 100%;
    }

    .link {
        position: relative;
        font-size: 1.3em;
        display: flex;
        align-items: center;
        list-style: none;
        color: black;
        padding: 5px 10px;
        height: 30px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $primaryColor;
            transition: width 0.5s ease;
        }

        &:hover::before {
            width: 100%;
        }
    }
}

.active {
    position: relative;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    list-style: none;
    color: black;
    padding: 5px 10px;
    height: 30px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 3px;
        background-color: $primaryColor;
        transition: width 0.5s ease;
    }
}

#buttons__burger {
    --size: 2rem;
    --clr: #000;
    width: var(--size);
    height: calc(0.7 * var(--size));
    cursor: pointer;
    position: relative;

    #burger {
        display: none;
        width: 100%;
        height: 100%;
    }

    span {
        display: block;
        position: absolute;
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid var(--clr);
        background-color: var(--clr);
        transition: 0.15s ease-in-out;

        &:nth-of-type(1) {
            top: 0;
            right: 0;
            transform-origin: right center;
        }

        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);      
        }

        &:nth-of-type(3) {
            top: 100%;
            right: 0;
            transform-origin: right center;
            transform: translateY(-100%);
        }
    }

    #burger:checked ~ span:nth-of-type(1) {
        transform: translateY(-30%) rotate(40deg);
        width: 50%;
        top: 50%;
    }

    #burger:checked ~ span:nth-of-type(3) {
        transform: translateY(-70%) rotate(-40deg);
        width: 50%;
        top: 50%;
    }
    }