@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

$primaryFont: 'Inter', "Roboto", Verdana, sans-serif;
$secondaryFont: 'Madimi', Verdana, sans-serif;
$primaryColor: #9f00ff;
$primaryColorLigth: #C566FF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: $primaryFont;
    scroll-behavior: smooth;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 24px;
    z-index: 2;

    #dev-logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: grey;
    }

    div {
        display: flex;
        align-items: center;
        gap: 24px;
        nav {
            ul {
                display: flex;
                gap: 16px;
                li {
                    cursor: pointer;
                    list-style: none;

                    a {
                        font-size: 1.2em;
                        color: black;

                        &:hover {
                            font-weight: bold;
                        }
                    }                    
                }
            }
        }
    }
}

#contact_button {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: $primaryColorLigth;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
    }

    &:hover::before {
        width: 100%;
        background: $primaryColorLigth;
    }

    &:active {
        transform: scale(0.95);
    }

    span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #234567;
    }

    svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #234567;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;

        &:hover {
            transform: translateX(0)
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
}

section {
    display: flex;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

#home_section { 
    padding: 60px 64px 0px 64px;

    div {
        flex: 1;

        h1 {
            font-size: 3em;
            span {
                color: $primaryColor;
            }
        }

        p {
            padding-left: 46px;
        }
    }

    div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#skils_section {
    

    #skils {
        display: grid;
        flex: 1;
        gap: 12px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
}

.skil_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 5px 0px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85px !important;
        height: 85px !important;
        border: 1px solid #cccc;
        border-radius: 12px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: border 0.5s ease;
        padding: 4px;

        img {
            width: 75%;
            height: 75%;
        }
    
        &:hover {
            border: 4px dashed $primaryColor;
        }
    }

    p {
        text-align: center;
    }
}

#html {
    background: rgb(252,117,75);
    background: linear-gradient(45deg, rgba(252,117,75,1) 0%, rgba(255,87,34,1) 100%);
}

#css  {
    background: rgb(65,170,254);
    background: linear-gradient(45deg, rgba(65,170,254,1) 0%, rgba(33,150,243,1) 100%);
}

footer {
    bottom: 0;
    width: 100%;
    padding: 24px;
}

button { cursor: pointer; }
a { text-decoration: none; }

@media screen and (max-width:768px) {
    #buttons__burger { display: block; }
    #contact_button { display: none; }
    .nav-open { width: 50%; }
    .nav-closed { width: 0; }

    header { box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; }

    nav {
        position: fixed;
        flex-direction: column;
        top: 60px;
        right: 0;
        background-color: white;
        padding: 10px 0px 50px 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: width 0.5s ease;

        ul {
            flex-direction: column;
        }
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    #buttons__burger { display: none; }
    #contact_button { display: block; }
}

@media screen and (min-width:992px) {
    #buttons__burger { display: none; }

    nav {
        height: 100%;
    }

    .link {
        position: relative;
        font-size: 1.3em;
        display: flex;
        align-items: center;
        list-style: none;
        color: black;
        padding: 5px 10px;
        height: 30px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $primaryColor;
            transition: width 0.5s ease;
        }

        &:hover::before {
            width: 100%;
        }
    }
}

#buttons__burger {
    --size: 2rem;
    --clr: #000;
    width: var(--size);
    height: calc(0.7 * var(--size));
    cursor: pointer;
    position: relative;

    #burger {
        display: none;
        width: 100%;
        height: 100%;
    }

    span {
        display: block;
        position: absolute;
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid var(--clr);
        background-color: var(--clr);
        transition: 0.15s ease-in-out;

        &:nth-of-type(1) {
            top: 0;
            right: 0;
            transform-origin: right center;
        }

        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);      
        }

        &:nth-of-type(3) {
            top: 100%;
            right: 0;
            transform-origin: right center;
            transform: translateY(-100%);
        }
    }

    #burger:checked ~ span:nth-of-type(1) {
        transform: translateY(-30%) rotate(40deg);
        width: 50%;
        top: 50%;
    }

    #burger:checked ~ span:nth-of-type(3) {
        transform: translateY(-70%) rotate(-40deg);
        width: 50%;
        top: 50%;
    }
}

#scroll-up {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: $primaryColor;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    bottom: 24px;
    right: 24px;
    overflow: hidden;
    transition: bottom .4s, transform .4s;

    &:hover {
        transform: translateY(-.25rem);
    }
}