$primaryColor: #9f00ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    padding: 0px 32px;
    background-color: white;
    width: 90%;
    height: 70px;
    border-radius: 45px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    nav {
        display: flex;
        align-items: center;
        height: 100%;
        ul {
            display: flex;
            gap: 16px;
            li {
                cursor: pointer;
                list-style: none;
                font-size: 1.2em;
            }

            li:hover {
                font-weight: bold;
            }
        }
    }

    div {
        button {
            height: 35px;
            width: 100px;
            border: none;
            border-radius: 8px;
            background-color: $primaryColor;
            font-size: 1em;
            color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
    }
}

main {
    height: 100%;
    width: 100%;
    padding-top: 80px;
}

button { cursor: pointer; }